<footer class="footer-2">
  <div class="footer-logo">
    <%= image_tag 'myhead.png' %>
  </div>
    <ul>
      <li><a href="http://www.designsbydwight.com/">Blog</a></li>
      <li><a href="https://github.com/Dwightgnjohnson">Github</a></li>
      <li><a href="https://twitter.com/DwightGNJohnson">Twitter</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>

      </ul>

      <ul class="footer-social">
        <li><a href="https://twitter.com/DwightGNJohnson">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
      </ul>
    </div>
</footer>
