---
title: Welcome to my Ironyard Portfolio
---
<br />
<div class="refills-wrapper">
  <h3 style="text-align: center;">3 Months of Rails Bootcamp at The Iron Yard</h3>
  <div class="progress-bar">
  <span class="meter" style="width: 25%; font-family:san serif; color:white;"><h6 style="text-align: center;">25%</h6></span>
</div>
<br />
  <div class="grid-items">
  <a href="https://github.com/Dwightgnjohnson/ironyard_day5" class="grid-item" style="background-image:url(http://egofriki.com/wp-content/uploads/Futurama-generic.jpg);">
    <h1>Futurama Shipping</h1>
    <p>How many Hamburgers did we ship to Mars?</p>
  </a>
<a href="https://github.com/Dwightgnjohnson/blackjack" class="grid-item grid-item-big " style="background-image:url(https://www.hollandcasino.nl/sites/default/files/black-jack-house-money-1920x1080.jpg);">
  <h1>Ruby Blackjack Game</h1>
  <p>MY FIRST CARD CAME... IN CODE!</p>
</a>
</div>

</div>
